{% load bootstrap4 %}
{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Главная{% endblock %} - Доска объвлений</title>
    {% bootstrap_css %}
    <link rel="stylesheet" href="{% static 'main/style.css' %}">
    {% bootstrap_javascript jquery='full' %}
</head>
<body>
    {% include 'layout/header.html' %}

    <div class="container-fluid">
        <section class="py-2 mt-5">
            {% bootstrap_messages %}
            <div class="container pt-4 pt-md-5 pb-4 pb-md-5">
                {% block body %}
                {% endblock %}
            </div>
        </section>
    </div>

    {% include 'layout/footer.html' %}
</body>
</html>