{% extends 'layout/basic.html' %}

{% load bootstrap4 %}

{% block title %}Правка личных данных{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <h2 class="text-center mb-5">Правка личных данных пользователя {{ user.username }}</h2>
            <form method="post">
                {% csrf_token %}
                {% bootstrap_form form layout='vertical' %}
                <div class="text-center">
                    <button class="btn btn-primary btn-block">Сохранить</button>
                    <a class="btn btn-secondary btn-block" href="{% url 'main:account' %}">Отмена</a>
                </div>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
{% endblock %}